
 <div id="mega-container" class="isotope js-isotope is-varying-sizes" data-isotope-options='{ "masonry": { "columnWidth": 10 } }'>
{{!-- <div class="item" style="width:1px;height:1px;">a</div --}}
	{{#each photoList}}
    {{goy height=item.height width=item.width source=item.source photoId=id layks=item.likeCount}}
	  {{!-- {{photo-item source=source height=height width=width}} --}}
	{{/each}}
</div>

{{input type='text' value=source}}
<button {{action "share"}}>Upload</button>



